html {
    border: 0;
    margin: 0;
    animation-name: start;
    animation-duration: 1s; 
}
  
@keyframes start {
  0% {
    filter: blur(10px); 
    opacity: 0; 
  }
  100% {
    filter: blur(0); 
    opacity: 1; 
  }
}  

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height:100vh;
  background-color: rgb(233, 231, 231);  
}

#header{
  position:fixed;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 10vh;
}

#CV{
  position:fixed;
  color:rgb(255, 255, 255);
  margin-top:2.5vh;
  margin-left:2vw;
  padding:10px;
  border-radius:100px;
  border:0;
  font-size: 2vh;
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  transition-duration: 0.2s;
}

#CV:hover {
  margin-top:2vh;
  transition-duration: 0.2s;
}

#nav-bar-section{
  position:fixed;
  background-color: rgb(0, 0, 0);
}

#nav-bar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform:uppercase;
  list-style: none;
  display:flex;
  position:fixed;
  flex-wrap:wrap;
  gap:3vw;
  margin-top:4vh;
  right:3vw;
  font-size: 2vh;
  letter-spacing: 2px;
}

a{
  text-align: right;
  color: rgb(255, 255, 255);
  text-decoration: none;  
}

#projects{
  text-decoration: solid 0.2vh underline rgb(255, 255, 255);
  text-underline-offset: 0.7vh;
}
#nav-bar #about:hover {
  margin-top: -0.5vh;
  transition-duration: 0.2s;
}
#nav-bar #home:hover {
  margin-top: -0.5vh;
  transition-duration: 0.2s;
}
#nav-bar #contact:hover {
  margin-top: -0.5vh;
  transition-duration: 0.2s;
}
#section-container{
  padding: 3em;
  padding-top:6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5em;    
  font-family:'Courier New', Courier, monospace;
  color:rgb(0, 0, 0);
  font-weight: 600;
}

.img-description{
  display: flex;
  position: flex;
}

.topic-description{
  margin: 20px;
}

#about-section-1 {
  margin-top:5vh;
  width: 65vw;
  height: 30vh;
  border-radius: 2em;
  transition-duration: 0.5s;  
  padding:0 3vw;  
  font-size: 1vw;
  margin-right: 20vw;
}

#about-section-1 img {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width:18vw;
  height:25vh;
  
}

#about-section-1 h2{
  margin-top: 4vh;
  font-size: 1.6vw;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 5px;
}

#about-section-1 p{
  margin-top: 2vh;
  font-size: 1.4vw;
  text-align: left;
  letter-spacing:2px;
  text-wrap:balance;
}

#about-section-1:hover {
  border-radius: 0em;
  transition-duration: 0.5s;  
}

#about-section-2 {
  width: 65vw;
  height: 30vh;
  border-radius: 2em;
  transition-duration: 0.5s;  
  padding:0 3vw;  
  font-size: 1vw;
  margin-left: 20vw;
}

#about-section-2 img {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width:18vw;
  height:25vh;
}

#about-section-2 h2{
  margin-top: 4vh;
  font-size: 1.6vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: right;
}

#about-section-2 p{
  margin-top: 2vh;
  font-size: 1.4vw;
  text-align: right;
  letter-spacing:2px;
  text-wrap:balance;
}

#about-section-2:hover {
  border-radius: 0em;
  transition-duration: 0.5s;  
}

#about-section-3 {
  width: 70vw;
  height: 30vh;
  border-radius: 2em;
  transition-duration: 0.5s;  
  padding:0 3vw;  
  font-size: 1vw;
  margin-right: 16vw;
}

#about-section-3 img {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width:18vw;
  height:25vh;
}

#about-section-3 h2{
  margin-top: 2vh;
  font-size: 1.6vw;
  text-transform: uppercase;
  text-align:left;
  letter-spacing: 5px;
}

#about-section-3 p{
  margin-top: 2vh;
  font-size: 1.4vw;  
  text-align: left;
  letter-spacing:2px;
  text-wrap:balance;
}

#about-section-3:hover {
  border-radius: 0em;
  transition-duration: 0.5s;  
}

#about-section-4 {
  width: 100vw;
  height: 30vh;
  border-radius: 2em;
  transition-duration: 0.5s;  
  padding:0 3vw;  
  font-size: 1vw;
  margin-left: 10vw;
}

#about-section-4 img {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width:18vw;
  height:25vh;
}

#about-section-4 h2{
  margin-top: 2vh;
  font-size: 1.6vw;
  text-transform: uppercase;
  text-align:right;
  letter-spacing: 5px;
}

#about-section-4 p{
  margin-top: 2vh;
  font-size: 1.4vw;
  text-align: right;
  letter-spacing:2px;
  text-wrap:balance;
}

#about-section-4:hover {
  border-radius: 0em;
  transition-duration: 0.5s;  
}

#about-section-5 {
  width: 75vw;
  height: 30vh;
  border-radius: 2em;
  transition-duration: 0.5s;  
  padding:0 3vw;  
  font-size: 1vw;
  margin-right: 10vw;
}

#about-section-5 img {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width:18vw;
  height:25vh;
}

#about-section-5 h2{
  margin-top: 2vh;
  font-size: 1.6vw;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#about-section-5 p{
  margin-top: 2vh;
  font-size: 1.4vw;
  text-align: left;
  letter-spacing:2px;
  text-wrap:balance;
}

#about-section-5:hover {
  border-radius: 0em;
  transition-duration: 0.5s;  
}



#footer-bar{
  position: fixed;
  display:flex;
  margin:0;
  padding:0;
  width:0.25vw;
  height:30vh;
  bottom:35vh;
  right:2vw;
  list-style: none;
}

#linkedin_logo{
  position: fixed;
  bottom:28vh;
  right: 1vw;
  width: 4vh;
  height: 4vh;
  border: 2px solid black;
  border-radius:5em;
  padding:4px;
}

#github_logo{
  position: fixed;
  bottom:20vh;
  right: 1vw;
  width: 4vh;
  height: 4vh;
  border: 2px solid black;
  border-radius:5em;
  padding:4px;
}

#facebook_logo{
  position: fixed;
  bottom:12vh;
  right: 1vw;
  width: 4.7vh;
  height: 4.7vh;
  border: 2px solid black;
  border-radius:5em;
}

#whatsapp_logo{
  position: fixed;
  bottom:4vh;
  right: 1vw;
  width: 3vh;
  height: 3vh;
  border: 2px solid black;
  border-radius:5em;
  padding:6px;
}
