/* Basic Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #ddd;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Section */
header {
  background-color: #111;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
  background-color: #000;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.hero-btn {
  background-color: #3CB371;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
  background-color: #2AAE60;
}

/* About Me, Portfolio, Contact Sections */
section {
  padding: 20px;
  color: #ddd;
}

h2 {
  margin-bottom: 10px;
}

/* Portfolio Section */
.project-container {
  display: flex;
  flex-wrap:
